{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "rules": {
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "dot-notation": ["error",{ "allowPattern": "_id" }]
  }
}